services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file: .env
    expose:
      - "8000"
    restart: always
    networks:
      - um_net
    depends_on: []

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        VITE_API_BASE_URL: "/api/"
    ports:
      - "8080:80"
    restart: always
    networks:
      - um_net

networks:
  um_net: